@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4"> TAG hELPER mvc </h1>
        <img src="~/images/image1.jfif" style="max-width:40%;" />
        <h3>  <a asp-action="Employees" class ="btn btn-primary"> Create Employes </a></h3>
        <h3>  <a asp-action="AllEmployees" class="btn btn-primary"> ALL emplyees </a></h3>
      
     </div>
    </body>
    </html>

