@model Employees
<!DOCTYPE html>
    <html>
    <head>
        <title> Confirmation Form</title>
    </head>
    <body>
        <div>
            <h2>Employee @Model.EmployeeName saved successefuly</h2>
        </div>
    
    </body>
    </html>